-*,clang-analyzer-*,concurrency-*,misc-*,mpi-*,openmp-*,performance-*,portability-*,bugprone-*,-bugprone-easily-swappable-parameters,cert-err52-cpp,cert-err60-cpp,cert-err34-c,cert-str34-c,cert-msc50-cpp,cert-msc51-cpp,cert-dcl58-cpp,cert-flp30-c,cppcoreguidelines-*,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-avoid-magic-numbers,modernize-*,-modernize-use-trailing-return-type,readability-*,-readability-identifier-length,-readability-magic-numbers,-readability-function-cognitive-complexity