[submodule "dependencies/jsoncpp"]
	path = dependencies/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "dependencies/SDL_GameControllerDB"]
	path = dependencies/SDL_GameControllerDB
	url = https://github.com/gabomdq/SDL_GameControllerDB.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/LondNoir/glfw.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "dependencies/glslang"]
	path = dependencies/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "dependencies/asio"]
	path = dependencies/asio
	url = https://github.com/chriskohlhoff/asio